<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    rijsakpsP
    <DIV>
<h1>Ini adalah halaman pajak</h1>
        <p>Selamat datang di halaman pajak. Ini adalah contoh konten yang bisa Anda tambahkan.</p>  <p>Anda dapat mengedit file ini untuk menyesuaikan dengan kebutuhan Anda.</p> <p>Pastikan untuk menyimpan perubahan setelah mengedit.</p>        
    </DIV>
</body>
</html>